# uses buildpack: https://github.com/drinks/heroku-buildpack-python-scipy.git

http://pyyaml.org/download/pyyaml/PyYAML-3.10.tar.gz
http://pypi.python.org/packages/source/n/nltk/nltk-2.0.1rc4.zip
numpy
scipy
redis
requests
pyquery

dj_database_url
flask
gunicorn
